body {
  background: #eeeeee;
  color: #333333;
}
table {
  background: #ffffff;
  border-radius: 5px;
}
td {
  border: 2px solid #cccccc;
  padding: 5px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
}

#message {
  padding: 10px;
  color: #333333;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

table {
  margin: 0 auto;
}
