body {
  background: #283D3B;
  color: #fff;
  font-family: 'Rubik';
  font-weight: 400;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

.board {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.square {
  display: flex;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #283D3B;
  justify-content: center;
  align-items: center;
  font-size: 7em;
  color: #1E1014;
}

.square:hover {
  background-color: #D0EFB1;
  cursor: pointer;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
}
.playerX {
  margin-right: 20px;
  border: 2px solid white;
  padding: 5px;
  width: 275px;
}

.playerO {
  border: 2px solid white;
  padding: 5px;
  width: 275px;
}

.red {
  color: #EF476F;
}

.blue {
  color: #2892D7;
}

/* Header */
.tictac-header {
	align-self: flex-start;
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	text-align: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	padding: 0;
}

.github-icon {
	fill: #ffffff;
	color: #ffffff;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
}

.github-corner:hover .octo-arm {
	transform-origin: 130px 106px;
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%, 100% { transform: rotate(0); }
	20%, 60% { transform: rotate(-25deg); }
	40%, 80% { transform: rotate(10deg); }
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
