body {
  background: #efefef;
  color: #333333;
}

.board {
  width: 600px;
  display: flex;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.square {
  display: flex;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.square:hover {
  background-color: green;
  cursor: pointer;
}
